

.headerr {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #444;
}



.logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.search-container {
 
  height: 70px;
}


input[type="text"] {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  flex-grow: 1;
  padding: 10px;
}

button[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
}


.logo {
  max-width: 200px;
}

.logo img {
  width: 100%;
  height: auto;
}

.header1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  height: 200px;
  background-color: #333;
  color: white;

  padding: 20px;
}